<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * @category    IQNOMY
 * @package     IQNOMY_Extension
 * @copyright   Copyright (c) 2013-2015 IQNOMY (http://www.iqnomy.com)
 * @license     http://opensource.org/licenses/MIT The MIT License (MIT)
 */
-->
<config>
    <modules>
        <IQNOMY_Extension>
            <version>0.8.17</version>
        </IQNOMY_Extension>
    </modules>
    <default>
        <iqnomy_extension>
            <dimensions>
                <category_depth>1</category_depth>
            </dimensions>
        </iqnomy_extension>
    </default>
    <global>
        <blocks>
            <iqnomy_extension>
                <class>IQNOMY_Extension_Block</class>
            </iqnomy_extension>
            <adminhtml>
                <rewrite>
                    <dashboard_sales>IQNOMY_Extension_Block_Adminhtml_Dashboard_Sales</dashboard_sales>
                </rewrite>
            </adminhtml>
        </blocks>
        <helpers>
            <iqnomy_extension>
                <class>IQNOMY_Extension_Helper</class>
            </iqnomy_extension>
        </helpers>
        <models>
            <iqnomy_extension>
                <class>IQNOMY_Extension_Model</class>
                <resourceModel>iqnomy_extension_resource</resourceModel>
            </iqnomy_extension>
            <iqnomy_extension_resource>
                <class>IQNOMY_Extension_Model_Resource</class>
                <entities>
                    <banner>
                        <table>iqnomy_extension_banners</table>
                    </banner>
                    <subscription>
                        <table>iqnomy_extension_subscriptions</table>
                    </subscription>
                    <template>
                        <table>iqnomy_extension_templates</table>
                    </template>
                </entities>
            </iqnomy_extension_resource>
        </models>
        <resources>
            <IQNOMY_setup>
                <setup>
                    <module>IQNOMY_Extension</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </IQNOMY_setup>
            <IQNOMY_write>
                <connection>
                    <use>
                        core_write
                    </use>
                </connection>
            </IQNOMY_write>
            <IQNOMY_read>
                <connection>
                    <use>
                        core_read
                    </use>
                </connection>
            </IQNOMY_read>
        </resources>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <use>admin</use>
                <args>
                    <modules>
                        <IQNOMY_Extension before="Mage_Adminhtml">IQNOMY_Extension_Adminhtml</IQNOMY_Extension>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <acl>
        <resources>
            <admin>
                <children>
                    <system>
                        <children>
                            <config>
                                <children>
                                    <iqnomy_extension translate="title" module="iqnomy_extension">
                                        <title>IQNOMY Extension</title>
                                        <sort_order>200</sort_order>
                                    </iqnomy_extension>
                                </children>
                            </config>
                        </children>
                    </system>
                </children>
            </admin>
        </resources>
    </acl>
        <translate>
            <modules>
                <IQNOMY_Extension>
                    <files>
                        <default>IQNOMY_Extension.csv</default>
                    </files>
                </IQNOMY_Extension>
            </modules>
        </translate>
        <layout>
            <updates>
                <iqnomy_extension>
                    <file>iqnomy_extension.xml</file>
                </iqnomy_extension>
            </updates>
        </layout>
        <events>
            <catalog_product_save_after>
                <observers>
                    <iqnomy_extension>
                        <class>iqnomy_extension/product</class>
                        <method>onProductSaved</method>
                    </iqnomy_extension>
                </observers>
            </catalog_product_save_after>
            <catalog_entity_attribute_save_after>
                <observers>
                    <iqnomy_extension>
                        <class>iqnomy_extension/sync_observer</class>
                        <method>catalogEntityAttributeSaveAfter</method>
                    </iqnomy_extension>
                </observers>
            </catalog_entity_attribute_save_after>
            <catalog_entity_attribute_delete_after>
                <observers>
                    <iqnomy_extension>
                        <class>iqnomy_extension/sync_observer</class>
                        <method>catalogEntityAttributeDeleteAfter</method>
                    </iqnomy_extension>
                </observers>
            </catalog_entity_attribute_delete_after>
            <iqnomy_banner_save_after>
                <observers>
                    <iqnomy_extension>
                        <class>iqnomy_extension/iqnomybanner</class>
                        <method>iqnomyBannerAfterSave</method>
                    </iqnomy_extension>
                </observers>
            </iqnomy_banner_save_after>
	    <iqnomy_banner_delete_banner_before>
		<observers>
                    <iqnomy_extension>
                        <class>iqnomy_extension/iqnomybanner</class>
                        <method>iqnomyBannerAfterDelete</method>
                    </iqnomy_extension>
                </observers>
	    </iqnomy_banner_delete_banner_before>
            <iqnomy_banner_adminhtml_edit_tab_image_column>
                <observers>
                    <iqnomy_extension>
                        <class>iqnomy_extension/iqnomybanner</class>
                        <method>editTabImageColumnAdd</method>
                    </iqnomy_extension>
                </observers>
            </iqnomy_banner_adminhtml_edit_tab_image_column>
        </events>
    </adminhtml>
    <frontend>
	<routers>
	    <iqnomy>
		<use>standard</use>
                <args>
                    <module>IQNOMY_Extension</module>
                    <frontName>iqnomy</frontName>
                </args>
	    </iqnomy>
	</routers>
        <events>
            <newsletter_subscriber_save_after>
                <observers>
                    <iqnomy_extension_banner>
                        <class>iqnomy_extension/banner</class>
                        <method>newsletterSubscriberSaveAfter</method>
                    </iqnomy_extension_banner>
                </observers>
            </newsletter_subscriber_save_after>
            <controller_action_layout_render_before>
                <observers>
                    <iqnomy_extension_tracker>
                        <class>iqnomy_extension/tracker</class>
                        <method>controllerActionLayoutRenderBefore</method>
                    </iqnomy_extension_tracker>
                    <iqnomy_extension_banner>
                        <class>iqnomy_extension/banner</class>
                        <method>controllerActionLayoutRenderBefore</method>
                    </iqnomy_extension_banner>
                </observers>
            </controller_action_layout_render_before>
            <core_block_abstract_to_html_after>
                <observers>
                    <iqnomy_extension>
                        <class>iqnomy_extension/tracker</class>
                        <method>coreBlockAbstractToHtmlAfter</method>
                    </iqnomy_extension>
                </observers>
            </core_block_abstract_to_html_after>
            <sales_quote_config_get_product_attributes>
                <observers>
                    <iqnomy_extension>
                        <class>iqnomy_extension/tracker</class>
                        <method>salesQuoteConfigGetProductAttributes</method>
                    </iqnomy_extension>
                </observers>
            </sales_quote_config_get_product_attributes>
            <customer_register_success>
                <observers>
                    <iqnomy_extension>
                        <class>iqnomy_extension/tracker</class>
                        <method>customerRegisterSuccess</method>
                    </iqnomy_extension>
                </observers>
            </customer_register_success>
            <customer_login>
                <observers>
                    <iqnomy_extension>
                        <class>iqnomy_extension/tracker</class>
                        <method>customerLogin</method>
                    </iqnomy_extension>
                </observers>
            </customer_login>
            <newsletter_subscriber_save_after>
                <observers>
                    <iqnomy_extension>
                        <class>iqnomy_extension/tracker</class>
                        <method>newsletterSubscriberSaveAfter</method>
                    </iqnomy_extension>
                </observers>
            </newsletter_subscriber_save_after>
            <controller_action_postdispatch_contacts_index_post>
                <observers>
                    <iqnomy_extension>
                        <class>iqnomy_extension/tracker</class>
                        <method>controllerActionPostdispatchContactsIndexPost</method>
                    </iqnomy_extension>
                </observers>
            </controller_action_postdispatch_contacts_index_post>
            <checkout_cart_add_product_complete>
                <observers>
                    <iqnomy_extension>
                        <class>iqnomy_extension/tracker</class>
                        <method>checkoutCartAddProductComplete</method>
                    </iqnomy_extension>
                </observers>
            </checkout_cart_add_product_complete>
            <checkout_cart_update_items_after>
                <observers>
                    <iqnomy_extension>
                        <class>iqnomy_extension/tracker</class>
                        <method>checkoutCartUpdateItemsAfter</method>
                    </iqnomy_extension>
                </observers>
            </checkout_cart_update_items_after>
            <sales_quote_remove_item>
                <observers>
                    <iqnomy_extension>
                        <class>iqnomy_extension/tracker</class>
                        <method>salesQuoteRemoveItem</method>
                    </iqnomy_extension>
                </observers>
            </sales_quote_remove_item>
            <checkout_type_onepage_save_order_after>
                <observers>
                    <iqnomy_extension>
                        <class>iqnomy_extension/tracker</class>
                        <method>checkoutTypeOnepageSaveOrderAfter</method>
                    </iqnomy_extension>
                </observers>
            </checkout_type_onepage_save_order_after>
            <iqnomy_extension_collect_event_data_overview>
                <observers>
                    <iqnomy_extension>
                        <class>iqnomy_extension/tracker</class>
                        <method>collectEventDataOverview</method>
                    </iqnomy_extension>
                </observers>
            </iqnomy_extension_collect_event_data_overview>
            <iqnomy_extension_collect_event_data_detail>
                <observers>
                    <iqnomy_extension>
                        <class>iqnomy_extension/tracker</class>
                        <method>collectEventDataDetail</method>
                    </iqnomy_extension>
                </observers>
            </iqnomy_extension_collect_event_data_detail>
            <iqnomy_extension_collect_event_data_compare>
                <observers>
                    <iqnomy_extension>
                        <class>iqnomy_extension/tracker</class>
                        <method>collectEventDataCompare</method>
                    </iqnomy_extension>
                </observers>
            </iqnomy_extension_collect_event_data_compare>
            <iqnomy_extension_collect_event_data_wishlist>
                <observers>
                    <iqnomy_extension>
                        <class>iqnomy_extension/tracker</class>
                        <method>collectEventDataWishlist</method>
                    </iqnomy_extension>
                </observers>
            </iqnomy_extension_collect_event_data_wishlist>
            <iqnomy_extension_collect_event_data_search>
                <observers>
                    <iqnomy_extension>
                        <class>iqnomy_extension/tracker</class>
                        <method>collectEventDataSearch</method>
                    </iqnomy_extension>
                </observers>
            </iqnomy_extension_collect_event_data_search>
        </events>
    </frontend>
    <iqnomy_extension>
        <page_types>
            <home>
                <layout_handles>
                    <cms_index_index/>
                </layout_handles>
            </home>
            <info>
                <layout_handles>
                    <cms_page/>
                </layout_handles>
            </info>
            <overview>
                <layout_handles>
                    <catalog_category_view/>
                </layout_handles>
            </overview>
            <detail>
                <layout_handles>
                    <catalog_product_view/>
                </layout_handles>
            </detail>
            <shoppingcart>
                <layout_handles>
                    <checkout_cart_index/>
                </layout_handles>
            </shoppingcart>
            <checkout>
                <layout_handles>
                    <checkout_onepage_index/>
                    <gomage_checkout_onepage_index/>
                    <onestepcheckout_index_index/>
                </layout_handles>
            </checkout>
            <compare>
                <layout_handles>
                    <catalog_product_compare_index/>
                </layout_handles>
            </compare>
            <wishlist>
                <layout_handles>
                    <wishlist_index_index/>
                </layout_handles>
            </wishlist>
            <search>
                <layout_handles>
                    <catalogsearch_result_index/>
                    <catalogsearch_advanced_result/>
                </layout_handles>
            </search>
        </page_types>
    </iqnomy_extension>
    <default>
        <iqnomy_extension>
            <account>
                <environment>live</environment>
		<enable_logging>1</enable_logging>
            </account>
        </iqnomy_extension>
    </default>
</config>